<?xml version='1.0' encoding='UTF-8'?>
<maven2-moduleset plugin="maven-plugin@2.7.1">
  <actions/>
  <description>An example Jenkins job.  Use this as a template for creating new jobs.</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.3.5">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/sbadakhc/app.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <rootModule>
    <groupId>com.example.pkg</groupId>
    <artifactId>app</artifactId>
  </rootModule>
  <goals>-C dependency:resolve-plugins clean install</goals>
  <mavenOpts>-Dmaven.test.skip=true</mavenOpts>
  <aggregatorStyleBuild>true</aggregatorStyleBuild>
  <incrementalBuild>false</incrementalBuild>
  <localRepository class="hudson.maven.local_repo.PerJobLocalRepositoryLocator"/>
  <ignoreUpstremChanges>false</ignoreUpstremChanges>
  <archivingDisabled>false</archivingDisabled>
  <siteArchivingDisabled>false</siteArchivingDisabled>
  <fingerprintingDisabled>false</fingerprintingDisabled>
  <resolveDependencies>false</resolveDependencies>
  <processPlugins>false</processPlugins>
  <mavenValidationLevel>-1</mavenValidationLevel>
  <runHeadless>false</runHeadless>
  <disableTriggerDownstreamProjects>false</disableTriggerDownstreamProjects>
  <blockTriggerWhenBuilding>true</blockTriggerWhenBuilding>
  <settings class="jenkins.mvn.FilePathSettingsProvider">
    <path>${WORKSPACE}/bld/settings.xml</path>
  </settings>
  <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
  <reporters/>
  <publishers/>
  <buildWrappers>
    <org.jfrog.hudson.maven3.ArtifactoryMaven3NativeConfigurator plugin="artifactory@2.2.7">
      <details>
        <artifactoryName>506019722@1425558932667</artifactoryName>
        <downloadSnapshotRepositoryKey>libs-snapshot</downloadSnapshotRepositoryKey>
        <downloadReleaseRepositoryKey>libs-release</downloadReleaseRepositoryKey>
        <downloadSnapshotRepositoryDisplayName>libs-snapshot</downloadSnapshotRepositoryDisplayName>
        <downloadReleaseRepositoryDisplayName>libs-release</downloadReleaseRepositoryDisplayName>
        <artifactoryUrl>http://koji.localdomain:8081/artifactory</artifactoryUrl>
        <stagingPlugin/>
      </details>
    </org.jfrog.hudson.maven3.ArtifactoryMaven3NativeConfigurator>
  </buildWrappers>
  <prebuilders/>
  <postbuilders>
    <hudson.tasks.Shell>
      <command>DONE=&quot;${WORKSPACE}/DONE&quot;
DEPS=&quot;${WORKSPACE}/DEPS&quot;
if [[ ! -f $DONE ]] ; then
    GAVS=$(/opt/kojak/scripts/build/import-maven-repo ${WORKSPACE}/.repository)
    for gav in ${GAVS}; do cd ${gav}; /opt/kojak/scripts/build/import-maven --tag app --owner koji * ; done
    echo &quot;Completed repo import&quot; &gt; ${WORKSPACE}/DONE
elif
    [[ -f $DEPS ]] ; then
    echo &quot;Processing $DEPS&quot;;
    /opt/kojak/scripts/build/mead-download-and-import -v -t app-deps --owner koji -f $DEPS 
fi
      </command>
    </hudson.tasks.Shell>
    <org.jenkinsci.plugins.koji.KojiBuilder plugin="koji-plugin@0.2">
      <kojiBuild>com.example.pkg.app-1.0</kojiBuild>
      <kojiTarget>app-candidate</kojiTarget>
      <kojiPackage>com.example.pkg.app</kojiPackage>
      <kojiOptions></kojiOptions>
      <kojiTask>mavenBuild</kojiTask>
      <kojiScratchBuild>false</kojiScratchBuild>
      <kojiScmUrl>git+https://github.com/sbadakhc/app.git#2d36b616c9a94cb37998e79c231c03c8522774a0</kojiScmUrl>
    </org.jenkinsci.plugins.koji.KojiBuilder>
  </postbuilders>
  <runPostStepsIfResult>
    <name>SUCCESS</name>
    <ordinal>0</ordinal>
    <color>BLUE</color>
    <completeBuild>true</completeBuild>
  </runPostStepsIfResult>
</maven2-moduleset>
