<?xml version='1.0' encoding='UTF-8'?>
<maven2-moduleset plugin="maven-plugin@2.7.1">
  <actions/>
  <description>Kojak Jenkins Job Template</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.3.5">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/example/product.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>refs/heads/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <rootModule>
    <groupId>com.example</groupId>
    <artifactId>product</artifactId>
  </rootModule>
  <goals>-C dependency:resolve-plugins clean install</goals>
  <mavenOpts>-Dmaven.test.skip=true</mavenOpts>
  <aggregatorStyleBuild>true</aggregatorStyleBuild>
  <incrementalBuild>false</incrementalBuild>
  <localRepository class="hudson.maven.local_repo.PerExecutorLocalRepositoryLocator"/>
  <ignoreUpstremChanges>false</ignoreUpstremChanges>
  <archivingDisabled>false</archivingDisabled>
  <siteArchivingDisabled>false</siteArchivingDisabled>
  <fingerprintingDisabled>false</fingerprintingDisabled>
  <resolveDependencies>true</resolveDependencies>
  <processPlugins>true</processPlugins>
  <mavenValidationLevel>-1</mavenValidationLevel>
  <runHeadless>false</runHeadless>
  <disableTriggerDownstreamProjects>false</disableTriggerDownstreamProjects>
  <blockTriggerWhenBuilding>true</blockTriggerWhenBuilding>
  <settings class="jenkins.mvn.DefaultSettingsProvider"/>
  <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
  <reporters/>
  <publishers>
    <org.jfrog.hudson.ArtifactoryRedeployPublisher plugin="artifactory@2.2.7">
      <evenIfUnstable>false</evenIfUnstable>
      <details>
        <artifactoryName>506019722@1425544700995</artifactoryName>
        <repositoryKey>ext-release-local</repositoryKey>
        <snapshotsRepositoryKey>ext-release-local</snapshotsRepositoryKey>
        <artifactoryUrl>http://koji.localdomain:8081/artifactory</artifactoryUrl>
        <stagingPlugin>
          <pluginName>None</pluginName>
        </stagingPlugin>
        <userPluginKey>None</userPluginKey>
      </details>
      <deployArtifacts>true</deployArtifacts>
      <artifactDeploymentPatterns>
        <includePatterns></includePatterns>
        <excludePatterns></excludePatterns>
      </artifactDeploymentPatterns>
      <includeEnvVars>false</includeEnvVars>
      <envVarsPatterns>
        <includePatterns></includePatterns>
        <excludePatterns>*password*,*secret*</excludePatterns>
      </envVarsPatterns>
      <runChecks>false</runChecks>
      <violationRecipients></violationRecipients>
      <includePublishArtifacts>false</includePublishArtifacts>
      <passIdentifiedDownstream>false</passIdentifiedDownstream>
      <scopes></scopes>
      <licenseAutoDiscovery>true</licenseAutoDiscovery>
      <disableLicenseAutoDiscovery>false</disableLicenseAutoDiscovery>
      <discardOldBuilds>false</discardOldBuilds>
      <discardBuildArtifacts>true</discardBuildArtifacts>
      <matrixParams></matrixParams>
      <enableIssueTrackerIntegration>false</enableIssueTrackerIntegration>
      <allowPromotionOfNonStagedBuilds>false</allowPromotionOfNonStagedBuilds>
      <filterExcludedArtifactsFromBuild>true</filterExcludedArtifactsFromBuild>
      <recordAllDependencies>true</recordAllDependencies>
      <deployBuildInfo>true</deployBuildInfo>
      <aggregateBuildIssues>false</aggregateBuildIssues>
      <blackDuckRunChecks>false</blackDuckRunChecks>
      <blackDuckAppName></blackDuckAppName>
      <blackDuckAppVersion></blackDuckAppVersion>
      <blackDuckReportRecipients></blackDuckReportRecipients>
      <blackDuckScopes></blackDuckScopes>
      <blackDuckIncludePublishedArtifacts>false</blackDuckIncludePublishedArtifacts>
      <autoCreateMissingComponentRequests>true</autoCreateMissingComponentRequests>
      <autoDiscardStaleComponentRequests>true</autoDiscardStaleComponentRequests>
    </org.jfrog.hudson.ArtifactoryRedeployPublisher>
  </publishers>
  <buildWrappers>
    <org.jfrog.hudson.maven3.ArtifactoryMaven3NativeConfigurator plugin="artifactory@2.2.7">
      <details>
        <artifactoryName>506019722@1425544700995</artifactoryName>
        <downloadSnapshotRepositoryKey>remote-repos</downloadSnapshotRepositoryKey>
        <downloadReleaseRepositoryKey>repo</downloadReleaseRepositoryKey>
        <downloadSnapshotRepositoryDisplayName>remote-repos</downloadSnapshotRepositoryDisplayName>
        <downloadReleaseRepositoryDisplayName>repo</downloadReleaseRepositoryDisplayName>
        <artifactoryUrl>http://koji.localdomain:8081/artifactory</artifactoryUrl>
        <stagingPlugin/>
      </details>
    </org.jfrog.hudson.maven3.ArtifactoryMaven3NativeConfigurator>
  </buildWrappers>
  <prebuilders/>
  <postbuilders>
    <hudson.tasks.Shell>
      <command>DONE=&quot;${WORKSPACE}/DONE&quot;
DEPS=&quot;${WORKSPACE}/DEPS&quot;
if [[ ! -f $DONE ]] ; then
    GAVS=$(/opt/kojak/scripts/build/import-maven-repo ${JENKINS_HOME}/maven-repositories/${EXECUTOR_NUMBER})
    for gav in $GAVS; do cd $gav ; /opt/kojak/scripts/build/import-maven --tag product --owner koji * ; done
    echo &quot;Completed repo import&quot; &gt; ${WORKSPACE}/DONE
elif   
    [[ -f $DEPS ]] ; then
    echo &quot;Processing $DEPS.&quot;
    /opt/kojak/scripts/build/mead-download-and-import -v -t product-deps --owner koji -f $DEPS \
    --repo http://some.maven.repo1 \
    --repo http://some.maven.repo2
fi
</command>
    </hudson.tasks.Shell>
    <org.jenkinsci.plugins.koji.KojiBuilder plugin="koji-plugin@0.2">
      <kojiBuild>com.example.product-1.0</kojiBuild>
      <kojiTarget>product-candidate</kojiTarget>
      <kojiPackage>com.example.product</kojiPackage>
      <kojiOptions></kojiOptions>
      <kojiTask>mavenBuild</kojiTask>
      <kojiScratchBuild>false</kojiScratchBuild>
      <kojiScmUrl>git+https://github.com/example/product.git#checksum</kojiScmUrl>
    </org.jenkinsci.plugins.koji.KojiBuilder>
  </postbuilders>
  <runPostStepsIfResult>
    <name>SUCCESS</name>
    <ordinal>0</ordinal>
    <color>BLUE</color>
    <completeBuild>true</completeBuild>
  </runPostStepsIfResult>
</maven2-moduleset>
