<?xml version='1.0' encoding='UTF-8'?>
<maven2-moduleset plugin="maven-plugin@2.7.1">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.3.5">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/sbadakhc/buildmetadata-maven-plugin.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>tags/buildmetadata-maven-plugin-1.5.1</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <rootModule>
    <groupId>com.redhat.rcm.maven.plugin</groupId>
    <artifactId>buildmetadata-maven-plugin</artifactId>
  </rootModule>
  <goals>-C dependency:resolve-plugins clean install</goals>
  <mavenOpts>-Dmaven.test.skip=true</mavenOpts>
  <aggregatorStyleBuild>true</aggregatorStyleBuild>
  <incrementalBuild>false</incrementalBuild>
  <localRepository class="hudson.maven.local_repo.PerExecutorLocalRepositoryLocator"/>
  <ignoreUpstremChanges>false</ignoreUpstremChanges>
  <archivingDisabled>false</archivingDisabled>
  <siteArchivingDisabled>false</siteArchivingDisabled>
  <fingerprintingDisabled>false</fingerprintingDisabled>
  <resolveDependencies>true</resolveDependencies>
  <processPlugins>true</processPlugins>
  <mavenValidationLevel>-1</mavenValidationLevel>
  <runHeadless>false</runHeadless>
  <disableTriggerDownstreamProjects>false</disableTriggerDownstreamProjects>
  <blockTriggerWhenBuilding>true</blockTriggerWhenBuilding>
  <settings class="jenkins.mvn.DefaultSettingsProvider"/>
  <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
  <reporters/>
  <publishers/>
  <buildWrappers/>
  <prebuilders/>
  <postbuilders>
    <hudson.tasks.Shell>
      <command>DONE=&quot;${WORKSPACE}/DONE&quot;
DEPS=&quot;${WORKSPACE}/DEPS&quot;
if [[ ! -f $DONE ]] ; then
    GAVS=$(/opt/kojak/scripts/build/import-maven-repo ${JENKINS_HOME}/maven-repositories/${EXECUTOR_NUMBER})
    for gav in $GAVS; do cd $gav ; /opt/kojak/scripts/build/import-maven --tag rcm-mw-tools --owner koji * ; done
    echo &quot;Completed repo import&quot; &gt; ${WORKSPACE}/DONE
elif   
    [[ -f $DEPS ]] ; then
    echo &quot;Processing $DEPS.&quot;
    /opt/kojak/scripts/build/mead-download-and-import -v -t rcm-mw-tools-deps --owner koji -f $DEPS
fi
</command>
    </hudson.tasks.Shell>
    <org.jenkinsci.plugins.koji.KojiBuilder plugin="koji-plugin@0.2">
      <kojiBuild>buildmetadata-maven-plugin-1.5.1</kojiBuild>
      <kojiTarget>rcm-mw-tools-candidate</kojiTarget>
      <kojiPackage>com.redhat.rcm.maven.plugin.buildmetadata-maven-plugin</kojiPackage>
      <kojiOptions></kojiOptions>
      <kojiTask>mavenBuild</kojiTask>
      <kojiScratchBuild>false</kojiScratchBuild>
      <kojiScmUrl>git+https://github.com/sbadakhc/buildmetadata-maven-plugin.git#45050c1826c2ceb8dc28e3c7d702dba242989898</kojiScmUrl>
    </org.jenkinsci.plugins.koji.KojiBuilder>
  </postbuilders>
  <runPostStepsIfResult>
    <name>SUCCESS</name>
    <ordinal>0</ordinal>
    <color>BLUE</color>
    <completeBuild>true</completeBuild>
  </runPostStepsIfResult>
</maven2-moduleset>
