<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Deploy helloworld war to Openshift uatdemo environment.</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>-1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.authorizeproject.AuthorizeProjectProperty plugin="authorize-project@1.0.3">
      <strategy class="org.jenkinsci.plugins.authorizeproject.strategy.SpecificUsersAuthorizationStrategy">
        <userid>test</userid>
        <noNeedReauthentication>false</noNeedReauthentication>
      </strategy>
    </org.jenkinsci.plugins.authorizeproject.AuthorizeProjectProperty>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.11.3">
      <projectUrl>https://github.com/sbadakhc/HelloWorld.git/</projectUrl>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
    <se.diabol.jenkins.pipeline.PipelineProperty plugin="delivery-pipeline-plugin@0.9.4">
      <taskName>TESTING</taskName>
      <stageName>TEST</stageName>
    </se.diabol.jenkins.pipeline.PipelineProperty>
    <hudson.plugins.promoted__builds.JobPropertyImpl plugin="promoted-builds@2.21">
      <activeProcessNames>
        <string>PROMOTE</string>
      </activeProcessNames>
    </hudson.plugins.promoted__builds.JobPropertyImpl>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /tmp
/home/koji/workspace/kojak/scripts/utils/nexus-client -i com.example:HelloWorld:LATEST -p war
mv *.war ${WORKSPACE}/HelloWorld.war</command>
    </hudson.tasks.Shell>
    <org.jenkinsci.plugins.openshift.DeployApplication plugin="openshift-deployer@1.2.0">
      <serverName>OSE DEMO</serverName>
      <cartridges>jbossews-2.0</cartridges>
      <domain>testdemo</domain>
      <gearProfile>small</gearProfile>
      <appName>HelloWorld</appName>
      <deploymentPackage>HelloWorld.war</deploymentPackage>
      <environmentVariables></environmentVariables>
      <autoScale>false</autoScale>
      <deploymentType>GIT</deploymentType>
      <openshiftDirectory>src/main/resources/openshift</openshiftDirectory>
    </org.jenkinsci.plugins.openshift.DeployApplication>
    <hudson.tasks.Shell>
      <command>echo &quot;${BUILD_URL}&quot; &gt; mail.txt ; mail -s &quot;TEST BUILD - CANDIDATE PENDING APPROVAL&quot; root@localhost &lt; mail.txt ; rm -f mail.txt
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <au.com.centrumsystems.hudson.plugin.buildpipeline.trigger.BuildPipelineTrigger plugin="build-pipeline-plugin@1.4.7">
      <configs/>
      <downstreamProjectNames>OPS</downstreamProjectNames>
    </au.com.centrumsystems.hudson.plugin.buildpipeline.trigger.BuildPipelineTrigger>
    <hudson.tasks.Mailer plugin="mailer@1.15">
      <recipients>root@localhost</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>true</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>